html{
  height: 100%;
}

/*nav menu*/

/* Add a black background color to the top navigation */
.genericNav_class {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.genericNav_class a {
  font-family: Maven Pro;
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 45px 16px;
  text-decoration: none;
  font-size: 17px;
}

.img_logo{
  max-height: 7em;
  margin-top: 3px;
  margin-left: 1em;
}

/*body*/
.body_class {
  height: 100%;
  display:flex;
  flex-direction: column;
  margin:0px;
  font-family: Maven Pro;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}

.div_body{
  flex: 1 0 auto;
  margin-bottom: 0px;
  margin:5%;
}

.img_back{
  height:5em;
  width:100%;
}

a {
  text-decoration: none;
}

/*forms*/
input[type=text] {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}

input[type=password] {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

input[type=password]:focus {
    width: 100%;
}

/*detail*/
.detail{
  margin-left: 5%;
}

/*list*/
.list_block:hover {
  border: 10px solid #555;
}

.list_block{
  color:black;
  text-decoration: none;
  display:inline-block;
  text-align:center;
  margin: 25px;
  border: 1px solid #555;
  border-radius: 4px;
  width:250px;
  height: 210px;
  -webkit-transition: border 0.4s ease-in-out;
  transition: border 0.4s ease-in-out;
}

.img_produit {
  border: 1px solid #ddd;
  padding: 5px;
  text-align:center;
  height: 125px;
  border-radius: 50%;
}

/*image list*/
.list_img_block{
  color:black;
  text-decoration: none;
  display:inline-block;
  text-align:center;
  margin: 25px;
  width:200px;
  height: 200px;
}

.img_list{
  border: 1px solid #ddd;
  padding: 5px;
  text-align:center;
  height: 100%;
  width:100%;
  -webkit-transition: border 0.4s ease-in-out;
  transition: border 0.4s ease-in-out;
  border-radius: 50%;
}

.img_list:hover{
  border: 10px solid #ddd;
}

/*detail*/
.general_detail_div{
  align-items: center;
  margin:10%;
  display:flex;
  flex-direction: row;
}

.img_detail_div{
  width:40%;
  margin-right: 5%;
}

.descr_detail_div{
  width:40%;
  margin-left: 5%;
}
.img_detail{
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 1px solid #ddd;
  width:100%;
  height:100%;
}

/*Carousel*/

.slider {
  width:100%;
  height: 100%;
  position: relative;
  margin: auto;
}

.dot_class{
  text-align: center;
}

.mySlides {
  display: none;
  height: 100%;
  width: 100%;
}
.mySlides img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot .active {
  background-color:#737373;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/*footer*/

.footer_class {
  flex-shrink: 0;
  width: 100%;
  text-align: center;
}

/*responsive*/

.burger_menu {
    display:none;
}

#menuB {
    display:none;
}

#logo_Burger{
  display: none;
}

@media(max-width: 800px) {

    #logo_Burger {
        display: block;
        width: 60px;
        height:60px;
    }

    .genericNav_class {
        display:none;
    }

   .burgerNav_class{
        display: flex;
        width: 60px;
    }

    .burgerNav_class:hover #menuB{
        display: block;
    }

    #menuB {
        position: absolute;
        top: 65px;
    }

    #menuB {
        display: none;
    }
}
